
.home{
	padding: 7% 15%;
	text-align: center;
	background-color: #ffc5a1;
}

.home-title{
	font-size: 4.5rem;
	color: #fff;
}

.home-text{
	
	font-size: 2.5rem;
}

.paragraph-text{
	font-size: 1.5rem;
}

.small-title{
	text-align: center;
	font-size: 3.5rem;

}


.owner-image{
	border-radius: 100%;
	width: 20%;
	margin: 20px;
}














