#home{
	padding: 7% 15%;
	background-color: #ffc5a1;
}

#featured-cakes{
	text-align: center;
}

#shop{
	padding: 7% 15%;
	background-color: #fff;
}


/*Headings*/
.big-heading{
	font-size: 4.5rem;
	color: #fff;
}

.home-paragraph{
	
	font-size: 2.5rem;
}

.small-heading{
	text-align: center;
	font-size: 4rem;
	color: #fff;

}

.paragraph-text{
	font-size: 2rem;
}
/*Featured Cakes Images*/

.featuredCakes{
	width: 225px;
	height: 225px;
}


/*Media Queries*/

